@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:wght@0,700;0,800;1,400&display=swap");
body {
  margin: 0;
  width: 100vw;
  font-family: "Nunito Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
}

code {
  font-family: "Nunito Sans";
}
