$background-color-primary: #fafafa;
$background-color-secondary: #ffffff;
$background-color-dark-primary: #202c37;
$background-color-dark-secondary: #2b3945;

$text-color-primary-dark: #ffffff;

$background-color-transition: background-color 500ms linear;
